:root {
    --background-clr: hsl(216, 12%, 8%);
    --card-background-clr: hsl(217, 26%, 14%);
    --head-text-clr: hsl(0, 0%, 100%);
    --text-clr: hsl(0, 0%, 100%);
    --sub-text-clr: hsl(217, 12%, 63%);
    --star-clr: hsl(216, 26%, 19%);

    --number-btn-clr: hsl(216, 26%, 19%);
    --number-text-clr: hsl(217, 12%, 63%);
    --hover-clr: hsl(25, 97%, 53%);
    --hover-text-clr: hsl(0, 0%, 100%);
    --active-clr: hsl(217, 12%, 63%);
    --active-text-clr: hsl(0, 0%, 100%);

    --btn-clr: hsl(25, 97%, 53%);
    --btn-text-clr: hsl(0, 0%, 100%);
    --btn-hover-clr: hsl(0, 0%, 100%);
    --btn-hover-text-clr: hsl(25, 97%, 53%);

    --rating-text-clr: hsl(25, 100%, 63%);
    --rating-background-clr: hsl(216, 26%, 19%);

    --link-clr: hsl(25, 100%, 63%);
}